@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
  box-sizing: border-box;
  background-color: #3A241A;
}

html, body {
  padding: 0;
  margin: 0;

  font-family: 'Inter', sans-serif;
  font-weight: 700;

  text-align: center;
}

h1 {
  margin-top: 0;
  font-size: 64px;
  font-family: 'Inter', sans-serif;
  color: #FDDB65;
}

h2 {
  margin-top: 0;
  /* margin-bottom: 20px; */
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

button {
  color: #3A241A;
  background-color: #FDDB65;

  border-radius: 5px;
  border: none;
  text-decoration: none;

  font-family: 'Inter', sans-serif;

  padding: 10px;
}

button:hover {
  background-color: #ffd12b;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;

  text-align: center;

  height: 100vh;
}

.topBanner {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#wordInput {
  color: #FDDB65;
  text-transform: uppercase;

  border: 2px solid #FDDB65;
  border-radius: 4px;
  text-decoration: none;

  text-align: left;

  width: 30vw;
  min-width: 300px;
  height: 50px;

  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.wordDisplay {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
}

.tileDisplay {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
  justify-content: center;
}

.lockBtn {
  font-size: 35px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;

  background-color: #FFF0CA;
  color: black;

  border: none;
  border-radius: 4px;

  text-decoration: none;
  text-transform: uppercase;

  margin: 10px;
  padding: 5px;

  width: 75px;
  height: 75px;
}

.locked {
  background-color: black;
  color: #FFF0CA;
  border: none;
}

.locked:hover {
  background-color: #1c1b1b;
}

.unlocked {
  background-color: #FFF0CA;
  color: black;
}

.unlocked:hover {
  background-color: #e8d9b3;
}

.shuffle {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.circularTile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#shuffleButton {
  font-size: 36px;
  font-weight: 700;
}

#switchButton {
  position: absolute;
  right: 0%;
  top: 0%;
  transform: translate(-50%, 50%);
}
